
@font-face {
  font-family: 'NotoSansTifinagh-Regular';
  src: url('NotoSansTifinagh-Regular.eot?#iefix') format('embedded-opentype'),  url('NotoSansTifinagh-Regular.woff') format('woff'), url('NotoSansTifinagh-Regular.ttf')  format('truetype'), url('NotoSansTifinagh-Regular.svg#NotoSansTifinagh-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
