
@font-face {
  font-family: 'NotoSansAdlam-Regular';
  src: url('NotoSansAdlam-Regular.eot?#iefix') format('embedded-opentype'),  url('NotoSansAdlam-Regular.woff') format('woff'), url('NotoSansAdlam-Regular.ttf')  format('truetype'), url('NotoSansAdlam-Regular.svg#NotoSansAdlam-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
