/*Handles image*/
img.resize {
  float: left;
  max-width:50%;
  max-height:50%;
}

img[alt$=">"] {
  float:right;
  padding: 1em;
}

img[alt$="<"] {
  float:left;
  padding: 1em;
}

img[alt$="><"] {
  display: block;
  max-width: 100%;
  padding: 1em;
  height: auto;
  margin: auto;
  float: none!important;
}

/* Forces the font for Jawi*/
:lang(ms-Arab){
  font-family: "AmiriWeb", "Noto Kufi Arabic", roboto, "Times New Roman", sans-serif;
  line-height: 2em;
  direction: rtl;
  unicode-bidi: embed;
  display: none;
}

/* Hide Malay by default */
:lang(ms){
  display: none;
}

/* Language selector */
.langsel {
  display:flex;
  justify-content:center;
  align-items:center;
}

.langsel button {
  background-color: #454545;
  border: 1px solid white;
  color: white;
  padding: 5px 5px;
  cursor: pointer;
  height: 40px;
}

.langsel:after {
  content: "";
  clear: both;
  display: table;
}

.langsel button:hover {
  background-color: #999999;
}