
@font-face {
  font-family: 'NotoSansNKo-Regular';
  src: url('NotoSansNKo-Regular.eot?#iefix') format('embedded-opentype'),  url('NotoSansNKo-Regular.woff') format('woff'), url('NotoSansNKo-Regular.ttf')  format('truetype'), url('NotoSansNKo-Regular.svg#NotoSansNKo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
