
@font-face {
  font-family: 'NotoSansHanifiRohingya-Regular';
  src: url('NotoSansHanifiRohingya-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansHanifiRohingya-Regular';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAACLcAA0AAAAASsQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABHREVGAAAdtAAAADMA
AABCAuoCFEdQT1MAAB3oAAAD4gAAD/Q6eT3HR1NVQgAAIcwAAAEOAAABrqWIt0NPUy8yAAABqAAA
AE8AAABgoIjXBmNtYXAAAAN8AAABjQAAA1BCyk9aZ2x5ZgAABnQAABIDAAAhcB3XYWJoZWFkAAAB
MAAAADYAAAA2FeMbG2hoZWEAAAFoAAAAIAAAACQG1AFcaG10eAAAAfgAAAGBAAACzGT0+exsb2Nh
AAAFDAAAAWgAAAFo2I3eW21heHAAAAGIAAAAHQAAACAAzQETbmFtZQAAGHgAAAGbAAAD/mXtixdw
b3N0AAAaFAAAA6AAAAotIyBFfAABAAAAAhmaP1W+h18PPPUAAwPoAAAAANls4Y0AAAAA2rnbqf8r
/ycDeQRBAAAABgACAAAAAAAAeNpjYGRgYNH9d5uBgTnsv/a/cuZKBqAICtgMAIrYBjR42mNgZGBg
2MxwgEGAIZCBjQHEQwBmBkYALoIB4QAAAHjaY2BhEmOcwMDKwMDUxRTBwMDgDaEZ4xiMGIUYkEAD
gwIzE4MCnO/u7+/O6MDA8P8/i+6/2wwMLLqMqkBhRpAcEy/TKSClwMAEAOxBCv0AeNptkl8oQ2EY
xt/zHRd2aklZ0drFuJg12lpSSukokbQLRS7W3LiUC3Evo9xSLli5paSk5EJRLjTkbheKFWtl+VOU
+bPY8dtS1rZTv87znOd9z/e9X58ak4jwaDX/qGEJiFjPsKE5xdQ8kBNT8pCz7rUfaQWPFhBDFuDr
jwcrJetWSjWKoT1aSS1jJZUDnYNL/AGk0Z9wgV6BY3QcYuhF2BND+fD5kv6yetUJNvQ5fIihu/Fv
1B5CBj0NfWg/hKt4ehS9agpi9I+CF/1iJXUXmZf1vvFuCJH1ggN9Q24jrydPs/Y2XFXZ/wz0U78E
+5X9up38Fr8JCfQAOOlN4evQg+DCX+Nr0REIoqkp1vpBkZ/BOzoLcbIs/28uzILvInvl212V82vC
P6GZVxXmPYFV9BzskM3DCHkPTJbsh5mLs5fnp7BGFoXdKvlsYcbCbNBdmRc9b+7bELTBESyDT+uQ
sApy/9wyoezSoMalnTMzdUNMFZWg2uK+JshC0vIL6zjwUQAAAHjafdItbxRBAMbx/9xdh77slvJe
uNJboAcIBIKkNEGcQFQgSEAgEBdSgUAgKhAIREUFAoFAIBooBFK+Qb/CySoMAkmCQ2xDsjzzzAoM
XPK7/8zO5WZ3skAP6MoKefxFs+B5l1nPe2yryyzoyrxGJRU77LEfi9iPgziK43hQlcNJ08A/1wuv
h+ZX873ZaB419+rf9c/6Rz05XK9Xvx1+XfOu//sU6auz285W/1oJ3jXrSNVKz7XTSs+210q/22/p
iWKRMa32M2bUQZbOIY6ydBdxnPFJPciY05Zaq9J/RxhOMqYIupTAVTVYOt9Qdizdayi7Bktqz2BR
nTK4pUaDm+oRgxvqtMF1dcbgmjprcFedM7ijFgbramlwW503GKlHDTbUBYOxeszgoXrc4IF6wuC+
etLgmXrKYFM9bfBUPWPwRF00eKyeNfTOhfKcwZbaN3ihLhk8V88bvFWXDd6oA4PXamXwSr1g8FK9
aPBOvWTpXQnlisFHdWjwQb1ssKteMXivpnNf0/jzH8RqTXAAAAAAAAAUABQAFAAUABQBFAEhAT8B
UwFfAZ8BtQHFAeEB/QIyAkgCXAJwAoUCmgKmArIC0wLbAucC8wMZAyEDLQM5A2kDcQN9A4kDqgOy
A74DygP4BAAEEAQgBCwEOAREBFAEdQR9BIkElQTsBPQFAAUMBTwFRAVQBVwFmAWgBawFuAX4BgAG
DAYYBmIGagZ2BoIGtga+BsoG1gcRBxkHJQcxB1cHXwdrB3cHjweXB58HpwfhB+kH9QgBCD4IRghS
CF4ImwijCK8IuwjpCPEI/QkJCT8JRwlTCV8JngmmCbIJvgoACggKEApZCqAKqAq0CsAK9gtOC10L
bAt3C4ILjguaC70LxQvRC90MEgwaDCoMOgxGDFIMXgxqDJ4Mpgy2DMUM0AzcDOgM9A0bDSMNMg1B
DUwNVw1jDW8Nmg2iDbINwg3ODdoN5g39DigOUw57DpgOww7ZDvsPBw8yD2kPmA/jEA0QUBB+ELh4
2q1ZC3Bb1Zk+9yqWEiW2JFsPS9b7SvfKtvyQrl6WLFnyQ34J+RXHVuJH7LzA3uC8eASapEzYQCAl
BAKkQGCGwiaQZbeFZVjaQpmBndmQlLZLtgXaLTNMl4Vh2UJpWco28p5z7rnHipOU7sx6LN17v3N0
znf+1/n/cwELpgBg/si+ARRABYCoc+m8Lp1rinmkeIIJF8+xb1yMiOxmoAXNoI51s1awGpgAB5pA
AnSDETAN5sFN4CA4Ch4Bp8Dz4EdwNDcfDkXEoNGgV6pK7sWSe1PJvesq/Uvxsv8n/Gp8SnGmVq3V
qldrNNPkepJc28i1+BK5iZMrc1Ru6ZWR5y9DaJ+7ZCRAbi4um0eel/kQX1artZXyjXxtWg70LQfW
fi3Q97WD0mmhUhc/WRSAnk1DOwEqnairEt5RmP/0H6jlMdgyyx4CFahFJUSFqClqUplUgk4ftHZ1
2eB/NmsV32HfFK1dWXhvy3ZZgxdF+FuQAQC8C/4AVkLbEyKRqKhUqnpUFX5rh6ZavTp8Qzp9SwIs
LoLM4hfgA/YkEGDPNcxpoIR2CAAL8d8xP2YvAAeoB8AbDvG80MhKqjSpeJ5zKw16o9FkZw2GS3Ss
WuN2e8K2a6dbZ3wOdy4Yb6v08y6PRjB7POYajjurs9XWWe3htoahKashqzOHmu11fldNMMrX/MLp
8drtXo8T8Ye8Xgb7EJtSm96PhrF4vWraFcoJCcsK8pA7EMIuA+fmzUz4M02dNpVXo7X4QIz5OfML
2F4OQFQIIyGapMtPT59uO3Lk8DPPpI4ciZ0tP+s5c8YrXeDvBPi7f136HZK/wSRdtsD+qadt6PuZ
mPfMGQ/8kXSBelSzaxlekSceDar+Aj85YbbZzPCzw2y3my0223FyZd911NQ40OeQw2p1lH6QltXM
E+AW1oKkVDpLu8Vut8AP84TTanM4bFYkUfViLfjt4jks0bAYDIdFg57j3OrerrFjK33nUnG7/Xaw
rJ8SdsAdRfG3Ht/KY2NdvefW3G63x6HU34edy8FLqJ8LipyH/fRGUWTKt8YLwdBQemtdLlDZnJB6
Ql3inmJJz5eNUkcj6QitEakrAWMmD0wN0OhBFdMIIL74bxCvkHAg4QxAmoc482uIG5Dm4Zp0UAKi
ARmnTo+489zsyXT8zgNVpn17rRq/NvUWE4ol88bK4o/vuV8tz7gajqBEM5JnG7R7HtRgBnpmo8yA
+VTCgYSLlME2iFsoA+wbBi4cQrqQaRw/6bBbrWNH+3L79uYlIgah3h+wO04P54ofQzLS3MxxOJYS
zU241LDVcE4H4TJFufyXhBMuAeSzGN8CcQNwSmyiHDYKbBUGLSLCiOEQcV7uvm9VWKY2CZ31vWNf
5DR+ZqWVd9V4Y9rU08Pp2ox303B78T01E3MFWnirWyD87oPjKxEf8vwx1gpH+FFtMa9IOOG3pK3w
JdriOS5cKqbZk0b9/J54mmpLrDTmk7Hi+SVtMbNYWxyVUB5rRSAMjlF7cUk4YbCZSugExPXATiTE
Y5tZohDVmyIQ4twG7jsV5ebe9vbe43cWNP7PK4cDojbFNKeZ6wfHxgaLv7/7QfULIa75MLOmUJC5
/RPWnlCivfNEe4KkPchFC54Bz1EtnidaFIgWUfs+2r6FPc/KWiY40cJ5ahVkPDxfAeNNRBaPUln4
JZzIYoFq41WImyRJRMIhqAyvSaUyohAi6eOnfSPfSzFi8NadGxdar8/dhZQynn+0/avMxnWrbt7Y
v71VtttP4EhKNLP0rOhkK+CMosSEvUNmojBJuMSEXQ+vCszwHog7QQAkCZsoMVwTtl5ovlA9bl7A
tLx6lRERlkwZ8lUh9rJZF5yOiomGgUC10bItlZwI7Z3nZ5u6d1ZDC3+oXYx3dGeCdUlNtfVv+WBA
EAJBbYpd0TDd2Ftf1pFvnetu2H2bvpJX/zLXqhkdauwqRIOGxB1hn08Ufb6wrNcfQLZKtDry/AC2
9iiR+9tU7tdKOJH7GWqD72EvIDYId+eqsKgjC0TfUSVZIBdwNgQ8Py9MFvy9giVo1/j/qKnwN4Uh
aV1zI1P11cWLM1t1BoNOfaNeo0mkvkX4rME+Ei3hh3whcQV+GL8CvwtQG7Ul/JBHoKAGtWH4c1ST
sbHe7INX47t1eNLuGF73WPHYpbQB5Y38J0GtyIL5tRErmqS8P5FwYkXNMm92M8Q9oPFy34YkMUvR
gN1cuMzXrdXBvvb2nmx5RTQcLMxMi+lgS9+GivrPaxPI78sy25jgwDjy+0P9bCJltc5sNZnUn402
hPagAED4H8P82yj/vZhnB+H/Q+oFOQkn/I9SL3gNZ1x1IIRXoIPBke7pHGcgrgDvYerNoF0Guy1f
BZ0A3iIX+P78/LqOzODMgCv1YHd0uOnevy7eAA2/x8bZ4WbzYvpYx5mfhGEY29SfyI4NJDvWfrR2
o38gPDOvZg/U+RI+zsoXn9w+q93XJMo6+RSvqYPaksS9m+zPbVQnDgkn+3Ml1YkJ745eEvPDy9Yk
Rd2SxXC7T9I17NvbAMk/JpGH28G9Mut74X5ACRNenZhnN5X9Fux7/UT2p6nsYxJOZH8rlf3fQ7wK
+iQvyV7UpdgSccOYI8UYlVEVEpC8I9yhQt11O2KSlA9Dom+s+W44EGkNDfCdyQcqYVz5xsU/RYcb
JPne6Xat3NMkOgL9LebQsNZBWP8Ke2o/lW6I+WfIYIB46k1UuioJJ57aRyP4fohX0wiO+AlLZoJC
+Msd3Z3BYJPD1u5qm4TB8CYUw0eH4jlzp64yPJ3efRvdWc/AsZRo7kv29pGr7O0jV9zby+W9XVza
0wtwO9fWo+386eLYZTv5CF37Qzi3GGuQ1zwnPcvj4+c66tuhknXS1aMdAGeAkodzx8KuYGQmHcz5
hzIwA3M2CfHM+MDbbxdi4dG1SBJVXQv5PRmhy996Tc5p5eqmRmfm8rC+uAInYlXIyjdcwaowfgWr
ugCM0Kp8klVJlm8odeQqXSSKghCz5MWHUNqRSVLLutAQDYhMqOfJnnPYe99DGcibNuK4XPHhljpG
USieun4GOS61LOQPGyjzZpwxThPmuylzhYQT5lkq7Vsg3iB7rYjkGrxUxEsq0NKtmes/UuhJHk3H
fAGn1e5IDzcNB9smxA+TE8amgxVI4Lu12nDqrcEN9W6rM5eL+7O1yYX+4nt1/CCV+Sks82lqF/OY
4SZih39HfSIl4cQOb6N2+ALESQZ8dcaI7PsnlxP94lGcd15Gj9rs+5jbJsptO9b7NhINaa3ApiWc
REOR7qw/g3gNiTEoGpYk6JChHA5LsvTjJ60kSZ+bw7UDo5bz9LfuI4m6q/8+6FbM70mqLnMtYgvY
RrnehjnNEzm+TrmOSjiR4wnK9RzOAvw0W8fJlpSIhUPRiJwKwMeq0gTsy5NCmb3S2d8a7/92X6pi
1769z2n8Z80OR7XZ6UBRoLVWucLaHOvpiu60a9Q3FV9H5P/TYTa7XBazXWb/JWY/T9kPY5YLhP0D
lL1Xwgn7ayn7RyHuki0YZ7dClKfShqW4igZJppT+Z7Hk7V7XfMugN1ObHDSb8rmx6zY9C+UOrJzH
UuPhtKnWyLzrm0w2zic9+TZXwja9arJ3albNKrmaGo+3xsLJaziL17BAfbCavQc+72qQ98aP4bOP
7PY4oZXSFWgJch0p75SygzFuFcm4YIehdOCuvbcczj5eGBoq8PWDk1P5+jQXnFgN2Y77XAot1+Ft
DGhT183duOfgwT3FF/PMQ0Pj40PZ8o0j10xZnHE1o9T1iJFQXVOYMHoKMuJBcDmj/xOfwl9I57qr
syE6/xcsr91UflLucfNS3kRsYILZAfGbiA08Tm3gLYjjMxippohGSunj9JVydys5v+gv11gH2nPr
1o/4kk5TWtD4Pyr3tPnqfR5HrTZl9zdvuGZmXWGjyVpdo368LhANBVtgcq/AXFHu5oOVDcyI0Mno
ZYmO8QoMFCVJXAkTpjI/QJMgF+flV5bSytRLCdGDlNrUaFHOjIqN0YC5hCZ7WE7rnDJfuTZV5JfV
pkqgWUvPF6TWksoUtgpy6xZFntSlBJWqUjoiGQnP04qzhQMkQjZRnWkknERIlkbvDyBeTbMIAw6N
HHJfOaOZfawQiacLtY375VOCp59LxqJR4emSM50qnFscoNHj3/FsBwmLpQroHyWcsKAVEHsjxM3A
TSugKKQSNakMVyx9BGco5v1ZYSLxECp8eGuoRuNf1FTU+lHhU+n3vcdEf70p8vjzqOjRV6oXdOXl
idQkYfYdzPSgxHRxI/MU0wEZPSFJHnxIav+/ufgKYgzbb5ba35Laf0Da98rt4HPaTnE8rpPpYKVx
6XhkB0O76N0krn63ZAfDOPGpg9SnXoR4FfEpHT3XNOLDRJzI69C2C3OyCAq6t430dw+67JvOnoNB
QOd2ZrZuXcPBXJCxD6/PtXuiOvuWR9TMqw2B4vuDgz0rfLZ+2Zp+g3fau4lcaq8ol0rwlMQXtl8u
FyWovFlu3UZbCYrHPF4iEzIWlslHuPf9JFfyU5n8UMKJTBZpriRCvIbGTClZisgnrJK1cInORCEZ
TscKr2nmwobhGDLd/IbcHWJiYH0u99/X8AI5S2E3wtGUaParrlwJdI1/bt06hrSCT0vWjVE8oo2u
m4yE5z2B+z5CLOGXdNXzEg5o/kUs4X2I68i6o0vVEjqhgZmCSsq+2qaEdJpvyPrmp/8ATaDgCHuy
J673wUSwucXs6/IPbFB/zPtHxzk/YaHBq3+EViFPsZYr+MOztBq5WWpf5g/flNvBV7Sd4nhcgbWU
+MOzFF+StorMx2DcCnH0HiBcolpenYEKfQUntliLqONiThEDL6zQoPMdBdoJSu3BuHQMAQ1j2Jvs
Nmi1BumrlY9YbYpYJDo3Z9brze3t6HtuLhrx++GofsUkuLDCAqMSUEg1nsmI9xQTti8Bv5R5MGXq
Cxhcmgq7lnOUZ43tMaNXW26pcNYqJn18q6pshbLWaUkmVWVlZTzi+orCBDpWZNApoEKIQo8VBJTc
wVAHkyGTCSpUxVstRqW2ss9ErgpTm3qVRq222e0R2yp0v2o1vkfjHVO4wcKKKLQLoIAh85LlGha6
y/Wm6u42v8mgcDOGXassVfl8NLJyFv2yXjHJHP669T2QdozEa1rEQNRcK1T2VPd1uNIhX7Sqrgmu
L9hcplSW2estHdEyuEAz0twEowJvM3cvf0PysM3lssEPo+IcTjfncHD4ndcXzGdwF4c7AQBlbp1W
DOq0QkluyJjfhn+diURnR2urmllgForHisfydzz88B3og+ZD58wv47e+AJ0hbC6gF70Q1y/+jjkP
x7bCkYXIsmK1JC1ldo031l+TDWYyYb2hdTIcnozvvLXCcsOra3fvb2tujOUbh0PR0cDpb/8Dmq1h
8QvWB2fzIr5kFOn9h55kE7yAXom5DOhNnV7JcN072kIbYrFYU9tYx8hE/czgKeb14jutMzsDR9Sh
9fHgYGO+xR/qmBoOT0xGdrTnV/gy2/8qc+NhIL2TY3fA2VzonZyOvAwU8TlVqJHl3DqpSMTq/uql
XTuG9nnLRgve9oJ4uCE0OjSuZiyxU2e2zXx5MXJg9tT+bLEY3z6z3WYbn8FvHOHXZ+yvpHzYRYQC
lY/fM6LbS5P3CgXMnErrDnbo7NTx0dv3119IzPf0jrhq+bTQmm8IaINtXMUOA6k/Njy29ZbX0p3z
Pxnc26ng9p0UK5IeT4LLRmrbbWpHS2a8jWOeoqUIA4JwzSJcc81VJKxzhV2wCGKEnoVU6/bezs6e
oXXZsYni48z3j6gj0ylYU+Y7WxN9hw4wYr544InvwZUCOOZROCZ+t2qiFaCJgWMZGNOS0Qtw6yi1
v4Oxfk/Sy8V1jLV4kPlN8UUu0VHb6WnyrU/OtzsdLW6ySHVP2BPnbGbmlXz7xf+pFhxcq98nVte5
siUr2wxZ3C9pU0R5Fn1NREIW9lz4VMEaDJtHy/hvDO3Y9dJAYWg01HBYLLR72Te+nNl25lSs+MHM
uM0GFRln2Oz+U7MH4Ao5ch5nRpWuS6eU3vqFpNobikuFMiqTSiEf4huQc9V5Mk19tTPrgrl6ll1p
Mebb3nxSCDTy6xsZvzc43iJu3dk4FCn+qL5Ru9phHo+8y6yNN2xqajksRtL/C59ABpgAeNqtU8tO
wkAUPUPxgRrduDIsujJuLMhSiQlCxAVogkR3xmprbQRqpGjwA4xLv8APce3Sj/AT/ATP3I5CGlmY
kMl0zj333tPT3hbACt5gQWVzAM64E6xQYpTgDJbxYrCFFl4NzmIPXwbPYE2VDJ5FWTUMnkNNPRs8
j1X1YXAO++rT4AWcZ9YNXsRu5sngJZQz7wlWQN4y3pTChpVHFRFuMcQdQgS4RgybnouybdSZjch3
4DNqcFXhEFXIdHi2frv6Evk8fWrd8+qx8pDdMbeNY7joSdWBoBBX3LonYn9IJqALVzQCDKjuUqdE
jS06KWKHXo646kQ/qj+a44ppvc2U4v8d2SmFE3nCPisi1thjHqfjKxRP+r4xeZfv0UdXam7IRVSb
NJe/2Ka41NpDzlnzNZmSnpt232bkUt8Wr57kXSrE0tckdlk53uNL1QX17CmpO/IFxVTYRoHrQZbD
zOh5HFwSd5kNGMU8e+aNFSZ0d1PeRgp9cgO60RM85dUT523x6MqXkfiviFM9bc3HUuVJLpT/5FFy
0TfWIaJUAHjabZb3d9tUGIb9JKG246vWCVD23iOmLXvTljICFGiBQJiyLcuKbcmVZCc2o0DL3nuV
PVvWD/yBYClX9icFn+Pj+7zneb9rXevYzk3l4se/R3I7cv/3+Gf0hKncNNPMcBybyFOgyCyl3NHc
MRQGm9lCmTnmOZ4TOJGtnMTJnMKpnMbpnMGZnMXZnMO5nMf5XMCFXMTFXMKlXMblLFDhCraxnR1c
yVVczTVcy3Vczw3cyE3czC3cym3sZBe7uZ093MGd3MXdLHIP93Ife7mfB3iQfeznIR7mEZZ4lMdY
5nGe4Eme4mmewaRKjToWDWyaOKzQok0HF48uB/AJCOnRZ5U1Bgx5lud4nhc4yIu8xMsc4jCv8Cqv
8Tpv8CZv8Tbv8C7v8T4f8CEf8TGf8Cmf8Tlf8CVfcYSv+YZv+Y7v+YEf+Ymf+YVf+Y2jHON3/uBP
/uLvqd378m416Jo1a2bXzv17ZpaX9i5OLy8tFmpep2MumL4KrI5T89qeO4LSgZ4VhE68Ljd67XYQ
et2Fhlnp+fXebMsMmk49Ks2trVVC3+m2rboXLvhe046SwHHtSTI/Spy+t2q1O6bfGkdWOto6imqe
61q1aNvRu7DH5iSOIyMMzXhRaTiuOaGOVXcm5LhOWEhIyYaSBSX9fKJ3pd6VelfqGlRV6lWpV6Wu
oSTskpBLwt2kJzfk5Iac3JCTNRitpjyZMcUnM6b4ZBJSsqFkQUk/n+g1qdekXpO6BrUi9RWpr0hd
gxpKfSj1odQ1GL4vL3dM8eWOKb7chJRsKFlQ0s9rMOp1ucOY4h3GFO+QkJINJQtK+vlEb0u9LfW2
1DUoW+q21G2pa1Atqbek3pK6BiNI3T9B6v4JUvdPQiqQOwRyh0DuoEENpD6Q+kDqGuZajuuaq6KT
TqJiOonaSiZKtpUsKtnJJ7ordVfqrtQ1qI7UO1LvSF2D6ku9L/W+1DUYrjyuCcWfhysPrJCQ4dqp
ip2q2KmKLQ95sOGQBxsOebDhkHVS9uIv88mEVBANSAVRvySCspWtW9m6la2LoNzL1nvZei9bF0HZ
ydadbN3J1kVQNrN1M1s3s3URzLtmqzn6gRPHn4miEZkoGmKkoi2BOfpAJjNmJzwbmkHgxMtiaGq/
FJpNU3+pGE3Tr45wENPmsVMJgm3b80PL90a/9MX4NYoLnmutL8JVT+/Q9K31rNjwer5eOX3tBc7a
uhdYfUu/Kcuxm+v/D4quowf+B8HvVqF42mNgZGBi4GOAAAMgmxXMYgTSrECSg2ERkFzMsJyBmWEF
wyYgGwQZgOJMUHEGAG90BP8AeNrtV1toXFUUXfvMnWSSSSaTd1tjTGNrU4xFY2piqZpqjK9pibZq
xBSttjRlTKshgk+M+Kqa0oeKtdZWqyAUCv1phSIIwQ9f1A/7If0qsfjjgKhYgkLHdVbmXiroh+B8
jHYvZu19zz1zZt+97rl3DwxAJTqwCq5/ILMGqbEtIxuRQsBx5POI0RkcYtkNY5vRMLpuLIt5o9nR
LNp0BmILZyFR9WnNAKMEjxNwlW2I8weOJU+jBc0ohnUUUEJr53P5XFHXbiigGNZKlFi9i752F3G+
Jv+Ntf2+KbW8fc68B/PT+emSy7tUtTy/5/8/z9i/O/9v5OOvK3x3f0uEe5jv2X+yn/NnCL775T24
ls/Pr6HjvQUUzinOzcLvkzD251FsC+tpuA1JVLPfbMQczGWPeCH7yvlYgIU8uxiduAyX4wp0Yyl6
cTWW4xr0YQX6cSNuxi3IYCUGcTvW4E4M4R4MYy3uxzqsxwaMYBMewigexiMYx6N4DI/jKTyNCTyL
5/ECtuJlTGIbdmAnXscb2I23sBfv4F28hwPMLIldmMdc5zKzcy3secvly9nrenNokm+a7ZxxQTSe
lk+jTr5OHTXIoZ+dH7ALh3rxpHyy0L01sDLeGqPfrZevR618LbtsbwlUyFf4fpsWR418Dcrky1hl
b77W3lJRfuG6YT6hVZ3Df2XNBXZoZ7ZJXnk10ciVU8y6mVWrYBVamMlF1DTAxVS1DouoaxyXUtkA
V1JXhx4qW4vrqGsZbqCyMdxEbSt5Z2QYr6a2KdxNddO4l/rGcB8VdniQGjtspMrlyFLnGmyh0gk8
SY0DPEOVq/Acda7GS1Ta8Cq1TmI71Ta8Rr0Nb1Jxw9vUvB77qbpRda97oGrw/4vbwTXM7eE1OCKu
yjZqznZrs0l7kZi0TruE6LRe6yJ6rd+uJfpt3DYT4zZotxKDNmx3EcM2Yg8QI67DtRMdoY/mT9gT
xES0/i5+yG6JnbAT5H22m9hnB+0D4qAdtcPEUZuyj4kpO26fEcej+afsJHHKcvY9kbMZ+5mYcYGd
tbMucGlXSaRdi2siWqK8htwdxJDrdkuI7ui4zy0j+qLjjBsgMtExAbPF7gvW6RvP/GPo48/FZ8RH
xNPiT8Q58a+a3y7eKtZMqxYvEx8SnxSvFb8i/kicEC8VrxZPaOVfFLeJ94u/0vhpxbWKvxT/pJFW
xd8pTosPiL8W94iPzeYfu97n79kqNH6VeLl4k+bMKF4oXi/eqfHfFC9SPCX+kVzGe930PDDegbwH
ube6tFPfx4fa29DT5s8f7mN+N875rdxnc8gcif3uOegRr9DID38AvbQ4qQAAeNqtkGFHw2EUxX93
a5NkrzYWxdLKYmOboiiKlcZKsSiKxtb20FZti6IoisaiWBRFpTe96RP02fp3/49kH6AX997nHsc5
9zkI0EecOp7MYi5PoL5fKROgR3EcB58OwYNXEd+uqRWImJppMlYtFQ3xRiOZIq09zYxl8st3u+DX
8lrYfammiCr288mXBCVmOUKv8leIEmKAIYYZZZwEKSaZZpZ5FsiyzBrrbLJNgRKGKoccccIZF1zR
4oY77nnkmVdVjBJmkIjOmP4tyQRTet8cGZbIsUqeDbbYoUiFPQ5ocswp51xyTZtbOjzwxAtvfxcK
Qee7a/NrNsLIP/mIzcvqal6ux3s3Zr2Ejx+Thj7uAAA=) format('woff'), url('NotoSansHanifiRohingya-Regular.ttf')  format('truetype'), url('NotoSansHanifiRohingya-Regular.svg#NotoSansHanifiRohingya-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


