
@font-face {
  font-family: 'NotoSansCham-Regular';
  src: url('NotoSansCham-Regular.eot') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSansCham-Regular';
  src:  url(data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAADfAAA0AAAAAdggAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABHREVGAAAslAAAAGkA
AACQB2gHekdQT1MAAC0AAAAJFAAAFTgTdMrJR1NVQgAANhQAAAGrAAAC/F8NWWRPUy8yAAABpAAA
AFcAAABgiL6I1mNtYXAAAANUAAAAzAAAAQIdd1bNZ2x5ZgAABSwAACIbAABKRqodx2hoZWFkAAAB
MAAAADYAAAA2DDkCG2hoZWEAAAFoAAAAIAAAACQIiwNCaG10eAAAAfwAAAFXAAACDkPL8LFsb2Nh
AAAEIAAAAQoAAAEKoceOim1heHAAAAGIAAAAHAAAACAAnAFHbmFtZQAAJ0gAAAKYAAAGWJYKvyxw
b3N0AAAp4AAAArQAAAbKwMV/1AABAAAAAgAAl6g1fl8PPPUAAwPoAAAAANMOen8AAAAA1edDzf45
/hIF8gTaAAAABgACAAAAAAAAeNpjYGRgYIn9t5CBgU39n+Xfb6yfGIAiKKAZAJo/BtR42mNgZGBg
aGE4wCAAJFkZQDwEYGJgAgAtpwHkeNpjYGF2ZpzAwMrAwNTFFMHAwOANoRnjGIwYnYCi3KxMLKws
TEwsDQwMzAwMCgxg4MDA4O7v7w6iV8WzxP5byMDAEssYD5RhBEkzSTAFMYAVAwD/CwqdAHjaRZG9
SwNBEMXffpygno2NIOQEGyMGCcGLWBySqJhAhMNGLRSDNrERwUptYikRJFpY2MQyIAFRK/8DsbS0
sE6RXsjFt7kNHvx4s29nh5kbuY098BP6H7mJNNBrk1vhYpYURB7JAfIMi9KHr94RqiYpIpQlZNU+
vTr5RaCnqVtIOwmk1TFCpwRfL5As/S8EQzMInAx855MUeL8eo8oIdZE5XeZOkCRrDbiKfeeD2qZ6
NsfijNM3PZywhvFYXzfINb1L9vFEf4NngUDdMd5hzRe+W+N9jXAWvQvfzKbLnIdnGWJeteI7M6P0
ei1xg1EgeiUF/qNhcsg4b6EXLZEuOSLfchIrBubNxUQN8mi1Qx7oZ8gy4wvqqvU7tkbV5IomKrKO
sjpARb0hoWvs/5y9WsQY93SPHH6QEynuKgWvvz+zN7PDU4z01cWUeIZr5hhgeo/yfzewa0kAeNpt
jjFOAlEQhr8FpYJkSTjACwngGhM6EkEFF7ACs42ri7orCVSojR7IehKP4A08gc3ewI5mm+f4Qskk
888U3/zzAyWgrN1Q9dw84FdnG6NbRbcaTQK6DBjywaepGb/1LYdyJD2ZSyKZteA4Q4cT+juu6jik
IoGMJJIH5Ty7VfKaGSFDu7JpXuTFz2l8Fdf/LW6+VDzn1mR/+Ryrhi71G+/c80hKxpIVCQueWKv7
XH9EmmTAGbecc6GZRlzq3ZgJd0x5ZcMzL39+/C+RAAAAFQAVABUAFQAVARgBJQFDAUwBVQFdAWUB
bgGbAaMCLQI1An4C0gLaA10D6AR3BLwFNwWLBgoGlwdWB7QIZwjgCYIKFArRC6cL+Qx3DOENUA3E
DmYPBg9qD/cQnBD6EWYR3hKLEy4TkhPlFEEU2hVpFdMWTRaWFu4XhxfpGD8YtRkdGYUZ3Bo+Gs4b
GxsnG7Eb9ByQHQcddR2wHfIeKx5jHpYevx7KHtUe4B7sHvgfBx8dH1ofZh+cH98gFiBYIKIg3yED
ISYhSSFkIX0hiSGVIaEhrSG5IdUiNCJ3It8i5yLvIvci/yMcIzAjPSNXI3IjhiOSI6gjtSPbJAAk
QCSCJMclCyUXJSMAAHjaxXwJdCNnnWdVyZbal2xJVSWVbqmk0n1VSSrdki3rsuRLPvuw3Xbb3e62
O30knaSbkJOEkAAdkhAgxwAhAR7LzAZmYNjlGHZ2lg0zO2/fA/LePPbxWMIShgECE4bdB9uW9qvS
YdmW7e6GfbzXaqk+ler7/3/1P37///eVIQRahCD4d8jfQwJIBEEyg8Rglhgki/ALlTV4vfIPyN9v
BRlkdetFaADyQhbEiBBQDySHSMgDRaEcNAUtQRvQPdAj0HXoBegz0F9CfwOuR+MYKiSNVMAfFLV8
Zlo+d7Ycmls+//8e30+e1nHY1tPf3wNehfr7X9bfK1X+DbzgWONT5cMD3d0D3At+vvGpMt0c+0ab
se3zPrz3ev+0a86GDAjROEPa+NB4FWpXa75Su45HDjnefX7P7gmaM0Jw9efVd0EYchewF0jASEjM
bkfu2gKmA1efAd+cR74IicE3IgtrYeWsXCQXWcBJCWW5rJya4v5P2BF5QlWeVE1NqSbLqsTWKlSt
QjboF9A34R8hIuhecKnzYCQPL0F/B78FRq7VR6zQWVgJ/TUihK5C72l3DL8LVsLfBr+4CkHQcxAC
sdW3kWGkDCRSgWugQu7+1m883oniDB0M+CmKNAqR4eiVufKV5AffPX1ntFKcOXaibCwmjh6F9Sfe
N1p64sRTL48+cXzzoYc3shux+zh5A5W3EAgpg7kzYC4Emqj+SrApeB06Bq3xM/ETSfxBMJUWAfOw
cm5yNwLmEmISFOfnDvjBoYiXysKLgaHyHUYJPsv5U9kgP94JTq9LLdj8h2+8+0vLg5fyzlwybvSN
K/P6yzlLOjVI+cbdY9dXPvrCJKaTSXU4rpdItbjFcUSfcoQSzolTxYzGhcvUUplKhrn0Q+OVssp4
hHDgWg1MPfNK+qFF+O6Zu2IogbJZ7fwMeLdODVWeKZ3yXLt6+TwqkUjR/n58KOHSR302e+Di5tRp
VDKAgS/QE1PHTBqtEpcrOIwmKm8IjvEY5ZoYKZAPQBbIBzBq4sEpzd8RDG3cnyZqsLGpr0J3PurI
xGNkYVagGbHT467j4/mNaPhs1paOJylHSVlZnHSbzji8EeTy0Qkg9oU1o0aptuR9ubnxp1fnHsqC
sXC6spJ+gHbRPk6iILAPEbAPLpZxd02E7wwOGJjZEghy8/OC4nJRQz4cF3AGxAT5m4iIHDaLYbIc
y3osXq991mEZzwyVleiQXh89m0mfjVUpu0AA+2Qy+AnHUY08qQ+Ouyw6S9gCY/6cmZQVLYliIWGI
oU79lDWxwPiOVa4OoCKhf4C3NoCcg0fSzyMZAMhOArmnoZM1uxaJEYwTJyGomY/IwsslFtR0CbIJ
pKlDC871k3kFG3rBQMuGxoI4OT8aC0sVOKrXmRmzM9wnHhaTMq0WHPiyqtxQfMQ4mPZHUfS+i6VL
idli9piky8+iqG8+vHlxKzeR7up3W60ueHTqoXUXGXaIZWqt06kNWSUumQ6VGbUul3aQ1iezVvPk
hcnjZ6JeanjEs3TJXQ4Ozk3l9GG0Nx+x5fJOZtT+wcqbdKoDixAev4dDIQ5Q+BxA4Ti0Wrt7h4HQ
UAucCP7VRlmW2nlvOZ8L1h0O5mMEKxQKPrdxNZXXNHBwRMR9LTgoJ2dOL0cYT6DriCHqETBz4Xj+
4TtEnZNDdEQiDhH61flTD3QbTF19p9LHz25lCMIdF57IwefO/8eMKRXEZao9mKR8usKMN/qRtfIk
6/dGjL2zD2SH4xOnpfCZ834nYe93yYftmWPvu6+P9peyVyvPq01nT2BZCOZt40cAlfO3bBlacGYj
RLbYyzYuGFq/GLiEG6mNCf7xMBNJjBhSaTokJaT00uDgkl9GyEI+f0Q+kNBpN45OnwXH6Wh0CHy/
PrN54TBLSWUtdUthdJFogmSnfd7pEJmIRHVMNORTMRKfapSaOLk4ZhmKhbX+dNqvDceGLGOLHwSA
QN7qdwVGgI67ZjGWukXIyWCLd4DhVo+ohSeBUa1LUhGGGYZHkEE/HdXpTh8dCA3pdO5yIDhLKObY
8ir8SVvG4LaF6XB+pFCIeKixWXr6cn++pxizTUx56FGHx+n0rHDWCyTp+GcgSQma2SlLG+u8CfH2
2mzHP6t0KSpM2xnOLL2d/hk2nn/kvAhOxXxppIgM+emITnemrsNkMDSrUMwE59c7DcauvpXs9OrW
BEE4Y0dOZGtaWaJ0eJctnt3Iltqr6XW5vO+9v8/PlDIrlUfUpvUFLFfLAb8URHj8w5zWdVV2qFjT
Z0eQqg3BLdkvEknJ0Lg/NIyMIMOh4TG9eiDh8CaSbPFK+up6eEZBzIVn1ip6vVVE2pVaPfzy6LAL
92l8kWIhX7p8Or9ptHqCbmd4/OnTj37M63R6lytPO3S4EifknJ2AiNspB3Iu7WcnwBcEvHMIjTfh
MQx/hgCc0apQp1ylTwGTooEWcCpAh/r0Xg/I1nifUQocBVWiLE3H5dKEXrc5P30OHMcYUV+33u3W
9y2Xwf2Sz7BTa/DLtqzRY4n6IrlioRBwKlwKm9+kNatxHRaAvdOsMRGJ6Ok461PTMq+2SI2fXCqb
U5GI1j8k0WMmt1HvMAzQqswsDwOfX6rfEVSB9g02s32bWhmKBaAAbLX5XetZOzIlhvKJVcSZqJ/d
Hm+lM1WTKSFXFePxLKJjrF7GiaGwYPjpa6jZyFh65D39NkfU54vL0aRe75uPhOZopzdhGRsTwQiK
B1dSqZNs5beYGsE0UhyHn7JPGb1Y1BAeSsf7+xQOE+Xp7JIeKS6EUcaVt7qZDgEtGaRckZBXw0i9
2pLFP+a0l+ghb0+OHYwMDCYkHlweN4XnfL65C2o5hkkkknrm7YABMo9AHzwQGYx3YsDtDgq+7M0i
JxTVs1ewPXodcB29SA7R+20+v0uOI6iT0mfzZprcJzQD7mLdB1qXL4ETxkHMgApgoFYN3d/hKgRX
70ZX3Ec4zRaPsK8nMeoZEEswVB3BZYa9oZtxFm2Ok+4a9CnLXuh93bmgoajvwXqk6XSPugdP1OHX
4CjKwQ8yPuBBnwDoB6HkoTHzsIz+CS6ch3zOwJEj+tiOpM1EpOKQUldL2mSXeCU7tbY13kjazQi/
Jy8HHFxexjO1vMz466GPz8sCTvbOd4DsF0E988jO2NeI68Ia9WxEkptWajsvs8btwqGRIxpas9wF
Ohv6d76TSqGKsNcX6e93kp0bR1cuKrSKIOP07yYxgwCPPpYwrM2fur+OR3kdnJtLMkPdQmGkQFOW
eF+fTHZ6Zma90m0z9nR3sAPYjd80EHt1Iu1BGY2P9bsVNEPYYgPTC+tT9ZS9F0XAbsQufNjRRHFx
jBqKhDRs1uum7Wary4oqFf6Yfnh6qfJ7XImMDzxZB5mP29/r2AIozx2U34W3FLO2YaxF7Y4tlT5J
RWkmDReQNENHMWz2hdMSE8lYe/DepjMlDLwzzfuc3rh9dBpDVyfYOS7DTq9yEZuzIV8kC7JR1E2l
M1RiLSd1OUu2g0JTnh2O4+WIYbDgGl3kiMQysCsuU30UaHwS2uRrZy5Y7Ob1zegT3FsF+EAZepvl
QWdrqeCX9GLy3NEa/d88euy8RpcYwKLBQIwrDkYvJuAOjTLGhoYwfEetgOHM8fjxy1sTjVoBOd+s
Gl7VBonO1iqgtHhqwlJSe6W0xhdt1goTfgTp7nYWc2Y6GfWRw6V2BQQgJYuVLzYLCGq7lBBwrKRT
xtdTC9D6YZGFO6oXrnu4Sr1wTSBtY05LxO6UcUYEwk+ruwFy1pl166yk02BwkladP4NJpGGKozVD
Z2Le2bAjZDPjuMkWdpTOHAGu2LeSAzStEZoq39dSXQae7ewXpE6dUxgU4N8dq8ll0mCqE6D5hzK1
4d1hS2lW62qMSMBV851SgNE90IPQk3sxOrTSqGWuPyaEUo7fhrwNCNlMJqfcp0ILZE2220F3iifB
h6A784TXk3TI2tYr5qlQX8L1h0C/jfyT0LPQx28Hea7pxBkxGQDIcRUf4KN/unthp802O9bdR6ZC
dszu4D4lQ8Puaxt/gtujzzilPm8igQXAWzyJ6VKjG1J49Xa9pNbjcvL1TWifDLSn2dVS3zTZsLNW
a/rT8Ag8yGRGWzte964Hp+WKWVBtVrrqDa+dZeflHX2vRz/mcTg8K5Vqve3FsftfdaBAxjJ04qZ4
yD49gBrXoPZwDbzBNTrQbYrhMAGKsXwJJdAQzUT52n9zfuYsOAY0It3F0QiYoazxXrEMrfEI2Grs
6ekIDeAH84cdJX8LTzDZ3FZU1eAJv8MAT5DW+IHgdaB7cQ97/4OYgeB1vT4hk0dpOtRgA35LKxuo
U+smG8DOzs+dhV+1FnU+GahKWdZtyo3YoiuHkQBAktlMHB8LmAqj9rFjS/VaVfAm0Glqr05/WJUq
eFOnT8rkEZpmb6EyPXN0ltdM60V9ah97UEGqAQWp7oCCdKnO+X8DtMtCk+2t1RKkLHWL5W4Q04Yo
43We0uj910MYFxcFvxlMooqox8dKpKMxm5B2dq2PR8cTZwdFR0STqWYD78xDwtRYV79EJludD896
b9zQKZ0xQQeTN8Ovlgc5+wQXdJvSBUf2CqmfuKi68/HiUORY4NRaS1nw7JPEhQIeUJpzo/bignOs
8hnSdscyFWt0Mzk9N0GGbavnod1N9o8GxFg5kpTvUzYapkZ6uhGffX+Yxo9I+g+HKXOv18jY2odl
TSznEIpGTivbg6i8MEIEiD0gbmN4DrpykK3cFFP5Y5hSJzuYyRH7ABnMmZ1/uJnlr7n2zW7UVKg/
7btpI6xlhhmAXwTKHlQ/HVAeyPcUCR0ztSYXMwzKJa7nuGutAENdk8EQVxmxU2s3PE3u30xpuZFC
PuKhsnuWBax5ntVzXauVype3+Tynx5t8lD8GnW4f57kVN6FwZ618MzEfb6wZttTVwVppXk8BIFiG
ddrxtDmlJXI2S5y1qWhCtG8LC8RQs9Rt1+q4fLCV1KJKhxizYrimHkFptZdlvabpJbo4rxjQGm1W
s6u/R6k5uExk3KLuqNt2dN46cXypkpTI1PIeMQrVq8XnADKr0B38uiravMW7kn+7UrH9LefS5k0y
gtaCsfO5VMq5o/+g1e5fHmq1zXYD4Amt/QaOJ3ANB/zGT7brRsAY7JEdhOFM2TtZtHL1oWm4uF99
OE5PFS3BOn9w2TClPNDKH2a3bayWdb8MkMzssTB+HeVmGFTLKsqXtbqEBI8CnAAlunxq9c5tpqTV
caskUkKajkS4VZKz0/Ob8MvUqMonYVS+UJTRRSMJcmq9PSWypGNhTXBwMKgJx9KWscWTdcbQ8TMg
+8Q+Xn4LGuzqjfyMK2sjfrq2wBAIy5SyC8urd3Ha8Gs+Sa22qU04qdWdmmLnCOD65bVth88WR3Ks
Wx2OD5tnD9ZqKGyfnHKXTrgdDvdKCxOaB3rVDK1984M7lossQuGtcCMuM1jg/z0jkYvXAMVpUKNw
n1ubsczLlCgq7VGJ27EjFRpnYMymysLZXL9ZhbJaQG3GWhmSU+EJyMJ0QWxQ4hTuPJAkBYY1pNUj
idTX+t7ku9FQ5+40xmlzKxrKaw7NUhYWPwy7bQvgU6jgw/XEpiZpky9rdBu7CFIoknb2idrDEXB3
CDROnAz1lrzdfbvgtKikapMaJE2txkSDpPn5lpyWYAwjk0dppXzAZRarDwGKHuroQ/ssjGnA3EX3
unp1mJTeg7xD7mRkZqdrYTZH1JNoY4WdQ5bb28Rh22AGt47ozQEq53aIiHBRw6vAPIK+TDySZsNK
A64+DEyHWqU324wSfBeWLi2BqUmPRZf4ippQ6ftldtOlo8vlTOThImkYsBtuEkNvCMXQqEbXT6nb
QugNyAiV0eyxW84+Z/XFUlTZlliud2N/AFDMHbzaug+IwnbN1x+0NF8Bm4hi2Le/JFZSWDJcR+X8
/PFLBsPKBoauTrKz2w1Xo8cW8UZ4MuGmhjOWkw+obey73+WbPtGi9X1Xki9P49NxXZJvsYLCub4e
xu+/gFy1Vct9Oqltxd6xncKhAVEebfREd2yYOD9/7PzW0WYG+/jeLufuhFVaPFX561bWw62txvjV
kcEdeN9sh6d1fTXGNSCC5tZ2TOsS63Y7xhpy5I9WtM111ldtBRDFWV+g1is5v9q60tpsoZyofKCx
2Lrta2vQpW1fuw1Xa6lcb83HLhBG7FAXM/i8ht2BX9Peu+589lacyx40GZ3kfn6lVO7xq5o9cqsc
yyA+3UrN37JCyf2GbVYx+3UAOrdbUlu83lEf1wvweOu9gNRJDq6hcDQv0ruNFidl1HYiHkEPSlxa
jC/4d/QF1udnz974rgHFtbIB9LAGQTis8ycGExqFyaIhbf0KbYeTxJOW2TOgWDAl2rUKPk4ppOIB
cb2K2QTopKDSvn5woNNue0RrHbO52yWoILa7lDmRs4esTbe4odhmpDvdgvGYsntWKawjo67iXMNB
XmvZ68Tz9o55oNMQ0Gm+uZeRl1Z+ezWaCOVI+W5W3jFPlULBOGNN2cVxNpg/qGbj9ryEpld/HjHK
e80KmXxL3lT3GXaO8VKkI6b3x4e4RS5QwGX2o93cSta5/2QZUOtkT7cybG/1MQENdPbVdzI188TN
7NahI+cKkcEFJhVvu9mFnVMQ08HFc3Bu5jNPBUKe+z9UWljfbzOL2+l0X691d98jWOAliu0v003t
X1lgT+djieP0yDCbb7+FZVZOzEfW79zaaobWwvSnno0EfA8/PbJ4pljIjd65tnMXi8/p9H2w8jfN
XSxcZH2rQwHkPQWqPa7W4/YjSEgJ1/pvv21BeOsbOvbbkqDYtOPiebHe63eUh9JlROu1emi7UgEj
ySfv3rNa2tofdZTGhLAAkWLhM5n0eqTyHUzZiWllchx+/IFhpZiQV67CT2ksMo1+3D6cTccHxAoH
aXZ19WDd2cWozOUY3a+BWmSGfD05NpOQZhMDPiUeI8NzPu/xDaWcwCQSGd9tfFTwBYBYGHjarjt8
G3sMvhDZKIRTi0w84vIfvDeQ7BIvZ5c2thKNRXNglx8KhGt2ecgOQG4x4nrltfoiOGeljwmGeSuN
7mul+69CtIT84ci5fASIPxT3c0Y65N+7EKEg5kKLm1v/2liIyM18+qlgyH3/03V3arcWcf172ztw
49XHOrqArPl693onG7zN/m5LT66ji4sDqSVmOOEJ3lyHF5WtzaxfvPHWduetNUbcYo/3euVrLd21
RztWga5xqHBwRLu1/tpqPdINxrwZpADzpHhXuMbctRYbiHgbN/TNKJ2b/XTTxribFXUfHKSvV368
swPyWMdvgT4jh8XnW+H3v+Xv1yIzmPDn4AI8yNQpvopCk2Em1o7iAxNc2twbyFtY/jWaZ/m++vY3
wPI/NbXN8jnNaiz/UZ4/e/dG91vcNh1rJJ9hJrondfrmw+cvbOXb3oWDtj/vQJ/z8ke53fVQpN6B
2pb2Zvn+joR0LLJZCAHcc97DOb8t7GBnfBWomZkys59+yh/y3Peh0om1xtJpfoO07eH9g1crP2/N
T8CC+oAOK9BmG8Rvg8gezmM7+uoBIR13717VUu3DZE9c2rnANb128cZ/bhDZWsSr3b52VDYWDmuD
yXZUdqVsSkbCe5js9QvbTLb2lAlk5/b9H56/W/JwQ10E4tLwHKDsATtIw5MCjY10+ajYVATk1jPR
yn81SGVGmUwOP35fVrUntSZwmcZiNDqOjfJ58jxlQAckUu6JhGD17Q5unZviVlIhEVRC0rVnPGrP
fEDHG533g3dANrdA3p7NLt11cmKfXQbaudn1sZ3GvO9+AmDMW282tw8cvesr6dCwvv2m/OSIL/bC
qYmFAzcIJC5WftjcEwBD7uqvEFVzz3kNEk4DpnnPWvZftdIsROWfo5PRoo2cmB7JzZrTLnfBPl2a
nNFkUDxxsVg8H4OfjI365RqKcNnIZCngN7opHHeEHfFcLukIGPQZZfIETR+r14zXBDPgvty5t2Mt
qHX+edEOqbi3S+7aDtZt3+P62YLWZTG2EQ+vqYlQb3/U542ag6w5Qfe6tDaNmWuXppYCKrMqzHHA
2p6A0IwXDPjdHQ5fP9HNxBinN6G2RiLW9ZnIrLfylMXS1SVQq3EM+St9AveKDaiTZhzmRCRZ9IRH
xXJdr0QuxVVO2DPNUslQxOiNhnxqmuscmyeW7aOMbTASJV2pI719Jhsq7BUKaYPeE7Yp3bZMIjXi
zs/bC5UISsA9Yrkea7HoUn1PYdOkW24g+wdF3tR7N7KMxWwzgrucnRvPnLoW2mm4qFQSOcBwLUfq
hnvq+Wu0waOQa2ym5Ggs4B81+k4/NN8w1o3l6ILeYOaMtfSBldn7h5vG+q+UWlvfa9R4IioEpaHx
lmeiDngoqo2iOyoB2Y7npKxuG0lmg6mCl/L67HNOamY4Wz7SZ1eSTtpqz9gA58+di1b+O6oWYXoU
kxubD059wH5co0gayZjZZdZbwxYY92fNJmmRSufGEjoFRtiMpNM5ysSO0Z6j15RyBfB3SeXXEhn/
FBUEV/899HmYW/Ww7FkbbgQmymIB2rb0auGfpZIot60j3Dc2rBTEacH4PCoZWJufO7e9LSXgULIa
uoSp+iX+QUGhayUrNuPyuD47vwS8v6fyRcHzgvdDDjArT11FIuAlA+xOv2LkQgmqRerPcgjuKd5h
M/l7E8X3rIX/x4t0qKt7EBWfKf9U/wv35NkoWvIxj5cqX6TdVhKzPPTZ1y/A1M/s2gFCYlE7VPGx
yNuVN5Zfe+4K5fEGQeJAKl+qhqEg9HlIzenO1p7xIY0ietezhsBjRcbmGmfwSNCmslPyKNbRmZgM
2wKFQsYc1Hj6ftXVDVP4gMz+kUCkpzcUDriYQrm4hsW/j9AOTKrSgBnz1XD1Gj8jBUE1+t52wmBj
RjDhY91Ok4KSu/s7wXyszV+MRRVGGYp2/hmY0IyTtud8wQF+uuLEyFq/VsnNZwHTQUi1qxqp/hp6
CZJBOjCfnF+iaDYSuf57a9fPpTSp0ym/PzmkMRO01TJHyOWEnCDkL/rFsnQpmM8HS2lpf0CqVn1H
bbWqFUGlMsjNsgpwDEEfh/ogBQTJm97f7CrWLh+KejzRmbJRR6Q/TMisOIFKSqF0IZJ8l803IMvk
jVRcySoJH8ijlSFwRS3AiYLGfw9BQmjyrcaor2X01O8+AkY5TH8CfR6hOM8Eo2sW7twwONcOZLJA
k5U3+PFT77wIxrfA+IP8+Br0t/z45MeACVbOIV+u/iOwR+753U6Lmal8VQuPCU5+LvY89+0PkDeq
xwRlqAd82/KM9E80BoNGYzQib/BvGo0BRMY0dDfM7WjXQFbwUxFF7Rv4cNF2OIDfKfRm6MGyuHcg
ZHaFojS7GAmfHp7Y/G9qyxG9XaE3wF/DvezChDkqN1hpuyMQOlcsbEQnKhalRoUq5IB9pKtPcjMD
JI7y7GMZ/i/VZ4GHO+DvQw8IqpAJgmTo3gTHDzRS1ANksqvXb7PRXDcznBzQqrgPC6OlRcEm66B6
9VKj22XW+twgaTmL4lSXRa7xeekImZosQ7W54CKYy83PlUAsDA7MnDxk0i5LkuwYFQTXMipm3+mV
cgEzEx68nLUfIgVS+SR8A4oDKbCazs2s3kIGRY0ox3C9wmB8ajRglhtMZKFMH09GF9mJQigy5HE5
JrrFYkFg4s+KHqOVwJVjKf+kmz4eH8wn3FZXRjcICSov12dDIRJytZmvzXQW7guGBkg0J86XNxdj
i+zoSDQ6TLsd06L+/ocxhculEPgnXqrPPp6cOEUfT6QLca/VW9JmFQTqdqNEXeO/ADJouL5gW425
Rowc5GnUgjfbNDVhAkLLTvXzG6iSVuAqVvfdfFScddcFkkhj47uhGEkKpT2MGBV2hLo77PaaXAWt
4Ajwml/BP4O+LrjB+YGsEV15V2htUFq2syMX974uKbgNQwlCY7I6vPGg00PpXQ5P2Bw364djuIrq
Ffw0lVOrtAqlWalNBF05wq1wEQabWhPxGgJ6lcpnAzO/WP0/wFfvBfd/O64LReT2ND3CkEcd8OEK
hYgRhj3agBeTE6J7I1m1RqOJZjTgjbNmunoD1JGX+evgjevISapxncCQwEUSJq2kH4e9AreRMOkG
+vHLCT9BoMZEQElgBnCVJLhKaPdVsJarBBGnWq4lBroxGnGp5Tplf49050WATvchX6v+XnCd/zsC
NeYBIjj/cyG7lvbMEU5ZTJ+aFVxnl6O4nBZLJtJg7uHqUPUboI7sBfG/BXbLiliqwXMgbmxKYmbP
slVBTZiDZi5y8net4/sgipzko8gq9D642Bx/qTk+D32VHz+HvFb9fYcHsXBMEPoUiKir0L+B8YfA
eFXwHRCtVzv/jTu/+n+hB8E4Z6k/FVTBdRZq14E/AHH1wNnqI3AfMg6ySAsP51SE+2zUDElh6ASh
govLb1/FL/3PhdzdVtLzGAR1Qsvgd78VvF7/+xs+7hkoWUuMlrd8FrV83jmHaMfRj7RGo1ZnNJ7X
kqRWR5L/Aj7rwAv228y8JOOE6pekflKnl0qKmEKQI7XcL7TkJ0gd/1PSbKx9MFZeX/kFJ/Bi9m6L
yfPe/Pi31tHFr41Flg1G+2WQbYDWyLd4rVV8vjhAquYRd4B8y0ZNkxQuA6K8TeontECUEib/F61y
lNDo8lJ0F1KFloltd7KDn5xFx5+LLIQN+gWQszTVlwQPIq9Aw9Boy1+EYGp/kGGbENZSVfu/yLCH
6YpqmV/w4OmvP/LE6xvj869c3ni+/NHHrz5xx8rscm4wGId1ccoV9ESzSxML595799wDw5MfWb/0
ynzlMi2WGQI47Lnvr1Y2vvW+K589NvHc+lOvvPfe8+9amspNxZjuLlDcWOmxVOn4nSsXHsq/58TK
9dFjn51KYA4ZBjJhY8ejELJBtb9LUVtLFXLRcccxves4yNfr+eo70N/xf/2lH/isgBGIWnQ8R2wQ
x01KwmwmlKZvI/BW9RkzKK9Nej345SD8OjzX/LsxpIDhXu9n0aVPgRf4DqlUYARYOzgP+gR/HtQ4
g/sWfGOtrsBi8A3wAxlgUUxtvZekKGuuNJXN5TLlUg6WXvvx8cU377nrh4vzPwS/0YLfdNR+w1kQ
WbMZBvhOR65UzuRy2SnuR1d/OL/4w7vueXPx+I85j7NVH4C+Cd0FHeGjJPcrlvmm2KsYFGtEi2cD
DwTDj3MNFmCXP4GVMMPLymCk9Z13YGYMjPMoQVc5VsS24JM3EQRFEYQp2IAFnNsN/jtX05chYebk
LNw9Cw6bWFO8/3IaN68jaXfNxjv8JqXVUuDilXubsyCQDmj0t/y1sJ3XknH6JRCWyZoIpdmsJEyX
+nyKoS5U0rm4fal/F3gwYJ6fIcGVeqvvwB9Fvgd4s4PXbrsZwflgfX8ft2MWI1tt4/39Zj3llCai
vhKpsy7HltY1AZPR2JuVkypOeBX5vyjWp9a77Fqvn5BkMfXipCsZ0KrtdrXkmRa8/vT1ESeDlJfB
vUMGDovdUvCtD7ydGL7lQqsgY2cDE4+O1SWR1iR5+M/fuPbSL//DWKsoY1/59avX3/4CzYvCSTLP
S+LcKYl0Lxz7CnLH+VY5rtyzLcZ8XYzX/un+L8HyK61i3F1566vPvvPFmhi1CgQOgArEAp2Ctqqv
IUKoDDUqk6/y42vQFjBEfvz/ASh5OuoAeNqVVNtu00AQPXFboFzKKw88WDwh1OZSQJCCKrUNLREh
kZoAggckN3bTQmJH9qYQHnniCxDfwgfwBXwI4gs4M14nxCIVkWXv7Ow5s2dndgzgOr5jCYXlVQBv
+aZ2ATc5S20Ha/hk7SVs44u1l7GOH9ZewQl+W/sCbhfeWPsiaoXP1r6EO4UMv0rML2tfxq5zw9pX
sO1k3Kt47Hyz9jXnq/PT2mu4t/IOe4gwxBgxTtHj7gYuNlFGBQ9oHXA1or+PgLM6QnRRpLVDT5/j
4YSV6CzgGDDWGb8+kU2yDV8XbXhkC2qPeA8DRfcwYhyPjE2iy/o84q4tPge0Mn7GzrgbOfZ5+7g5
7EtVmFB5RKQ7Z+fQRtwgMiI35skDbE1yU0aV4316qrQDHHOs4i6fh1zt0re49lPV7fE19HvMYEC8
YN7TF3GPeRV5rmeROGNWM10RZo8xQ37PQ9a0alJHyUaHM1H5t1dq6eKIDPcffH+Gbyy/qLfCELOF
Ep8P+hSJmuovUlFEbInzgNjSJOulOexBbvdphIS+EbVIVTtkp7ncV7zReyH5M4wi+Qwm2e5zlMqG
enPlnCPavt4ROc2JYtvMX4NjS3cNZyI3ZiKs05O/YRXqrGjfLKLM19FoZx5RlbH60piefm+xE9ta
3TZtF7s6l5noeEWrg6dU/YKjzHd49w75bXJexxPltuiRbmnRW1NGXe10bV+7vYnXHJ9xRTASO6Cq
NDuxzj4yM7HehEQ1xnqOAb2S4fRvIGcN9ISL59VljqKZmiTK6RJ1rEhX+ynUzvL0RonOoSocaC6z
iiQ2f76t/0DP4vGdrss9PVNuOOmhsf0TyB1JNaU9af6jqvl+SKhYKjvUf2dRtfU5yhl7XJfMN/4A
TRkGlXjabZNpX9NAEMb34QpNWntAi6h44H1VRPG+i3gBKoi31jQNzdJ0E5O0sb72Y/hdFbqbZFua
N/PMf56ZZPc3ISOk9/z7SxbJsOcPIRjBKBnFGMYxAQWTSEGFhjQyOIAscsijgClMo4gSZnAQsziE
wziCORzFMRzHCczjJE7hNM7gLM7hPC7gIi7hMsq4ggVcxSKu4TqWcAM3cQu3cQd3cQ/38QAP8QiP
8QQVLOMpVvAMz/ECL/EKq1jDOl7jDd5iA5t4hy28xwd8xCd8xhd8xTd8RxU/oKMGA3WY2EYDFih2
0ISNFhgcuPgJj4yRcaISjaRJluRInhTIHDlK5uEjQBsdhGPrW6urI5UNhdV8VzdMpc3o4lKl0osL
C1FcVg2n1dLLhqW3NNf0qFPv6ZTVdS2TBaGj+s52wDONB274bXpOdU9NOszkYtfdE2pgeSZnqW2n
7QlFO8Ln01/c55sdk3Fp0oYVcCOjYqDS1HlD0+JCaQjQECDFGm0xlEU1I6oZVtS2I0o7cZsVtyVI
uJRAuIOovS5AXYBJJroVFlWERXEFcGMRDakJUIuGtKIhragiLEpXRE9EW8SOMPq+AFEUI7XmCmW6
zXUj0WkmJ4YluQJJM0m7ku5K2pO0LQ31/STJWpu0IQ2b4F83QXlo8yAOrwvKNyfT1dfMOhWNGa8v
s+Vsui8rM93znDAT9lnCIZZS3NdXnYpxe+/jB17RNmM4FQ4xhkOMOdbov4Zsqz9Xndir6VTSeqwL
QjvJWFVyUkmb8oTk09RE5hMp7qK4j1R1O9Ckt2nSgQqCS9NLQg+cbEY4B2+gJPiAvUiHUbWuM/FX
5epOu2abywkIPOrKQPNd6sXbzlnZ2D1MuiUlmegP46WOlOT7Vq3qemZxHynbTjg7lJZ3J/DF4lsl
7cZMH05u8z9T0i1PeNodi8EKglAURM99FuTCvqtN4qpSCTSeLdoEroOwfryTd2CYO8whSOz534GX
uWSrgoqjXnOhoKUz99zMmYf+ZLZ5s+gfvjaJneuT/1kmcWXQR5mQyeZJBXf5tDKxCrlgI9u4nn7W
Aw7jAAAAeNqVWA1sFNcRnnm7Z5+Nf+6MMcYYMMYQ8xMXzE/5tZBFXUIotSgYAy4YalzAQCilUZqm
QBNEnChFFAWrTUhKaYSiNEIIUUotRKMotaKmddOUBEITFFF+3MgiQIKVUvD2e5/Pt2vfVag3+uZm
ZmfmvZ23b997Kyoi6VIidaLfWb9ms4TFhUU8j/8qRhxxGzZ8f7sUNK3btkWKN6/Z1iTjNjdtbpJy
eBiZKGn8T7dx+B8gGYzMlEnSoAU6Uau0Th/VvfqKntGz5k5oZlpZxqaMy5n5kZLMhZm7Mk9kdmQV
RkosZVVbHi3N2p11Kqszuyh7SXZz9ulISfYNXq+NPBd5I/JFtDRaF90XfSv6JdqzbYXF6F72eK5s
geawLy+QP0j+NO6pjJJoLf/OUU6jPAQ5lkmupPZ42HtGZiMh6f1p/F8lhXc7EP4qRSCV8SBFSw+C
TwGpTJcZ4HNBKpUglW+AjOyUn4BrrNfKei9h1rq+Vu9XtK7sZx1E67J+1hb8O1IvjfLdflee4hh+
W1b1azPEPBv7eY9lngZZLxv6Xfk7/VdDjtVbhkOaCU9bwR2yX45Iq7TLJenSdFx10cdluLISvVJk
bEBtG9FeOFbplFg9U9kbF9beWtsRDYEMnz0Lh/+2fsr62Z70Pp2GmjBvf1tqEltKElsoic1NYnOS
2EwSm5XDsSq9y6vdugBaRs8Nesd7HyqvQwI/74ok+z0sT0qprMWzdUIOyQppwShY7048Ib2RF+LS
ae9MsiReu/eytzRp/hVyUGYz/55gfsTcTvA1qGkWSCQiUdzhQJAjg2UB7nIhaLosR4YZ8ohsk1nw
zoBfBH5RUAhPyyzIc2Qe+NdBKvNBqfIQyEWOBbDYeAfxjyB6KyhFvodctrJZsj1WcQOrwzlqaxyO
1V1jz5FDD9PH6nLsnJilh5zYu8NmCsfG0cQ9TXymD+B4pvA5Sf5LkzS53y+VlH5fvxDJjc+9DIy9
kWrZF5tTtbE5ZTinwpxTaexfiP3LBKlkgwxqnoM7ycW4hDgiFXbkUisJxWhY9Or3g3rn9LBUarpG
NE8LtVhLtUyn6EynXOfiDf+8OWzydaEu1lpdpQ26Ubfinf+EPqnNute06vP6gh7SI/q6HtdTWAf+
pG8BH+i7wEd6STv0OoYsxal2apx5zoJe6Bd6x9pNhskx+Wa4KTHj6BODmWimmdmm0sw3i6gvMStM
vWk0m8w285jZYXabZ80+02IOon+vmqPmhGk1b5g282fznjlvLjpF5rL51NxwJpguc9cxTpEzxgk7
WU6uU0B5glPuTHcq2J9Au6I61iwWNRWoimol5XIrm384O0SdTaYdPN9ss5w+I+izxnJnqrU4f6T/
JlqKrexOtLLboXj3m120z6R9tZVDgxlVSns35XHM2UHLIWsJTaXnLUZ9jdnuUW6n/QB9BtKykldX
0J7DnvyAeSYw8zJezaX8EuWllMP0eZsZPmRsC2Nv0X6S9nL6/4vyaMof06eBPuMpv0h5NnNWUGY/
nXfov4nyIcq19N9In7GUn6S8hD6T6cPKmGu0v0r5ccqz6DOJPkKZ7bor2TdWz+2kfz39J9Onmnw6
r7ocu55qN9HC+ugDrHwBY1udpbj6I/NbyKyV8y36DKVPCmWOmrImzhT6fE55FOVLkF3tO+fr5D3O
+UVSg3m9Bm/oNFkHGoD14Cn42DXmf8/5GbhShZk/Hm/U5dip2fk/mW/uuVy3e/6rELcVQB/g2/Nv
3zCrgAZgY+w60H1Fc/AW+A15O/lD5CvJr5P/mPw0+Yvk9eBflYugy6BPQTdAXaC7clcNKAzKAr0N
ysV+sQh0FjRGJ2g5aLpW6DzQAq3WmhjVgdbqet2i27GrfFx3gfbrHuA54Of6MugVfU2P6Uk9rW8y
dztyXtBPjGvS9SqoU2/pl9ptdRMB5YEKQcWgUlAZaApoJmguqAq0ELQYVAta1UMY1Sp5AHyOdx38
n95n4LPJa63FmeZhRXE2kLdZbq7ZykCwPN1y9yMdCPn3tPyFfJ3loePkrKf7pmLFDS2n5QAt58nP
WW5uMiqb/Cz5RXL6OIfpmUFeoYtgYWY3Sl5gMzvN9Oxi/hryelp+qIPBb1ruHqXnr2n/Hflf9WnY
m/RZcLZiPqOdz4aj5API32dbTZTPUJ7EbEdp6SQfYeuj79jqmYPkLd3vw3KBtX3N+mgldprqsodu
o+4G/ybklD4rpkoZVkYr2xXT7n5XY81s4P7Y7m03cnWv546s/P+CeoV2xtqdhnfOeSm+SzahEsy7
NFmNfdl/fFg9AfEY9wZjnvHOy+gAnkkCP+a0jfFue93ezwK4nYhATDNj7sDeEsCdRARilrBvc3Af
H/qwegL8mCLGPIxc13xYPQHxGKeTfbspxvtpADcTEYg5xXamosJ/82H1BPgxuxnT6TVLcwCdSeDH
VDPG9f7tHfJh9QT4MYWMOYB7nBTAgSSIx5gO1qALtD+AJBSIOcF2RuHe/+DD6gnwY3axnXsYy18E
cC8RgZiFbMfxbnq/9GH1BPgx+YyZ733uXfZh9QTEY/RyrAbduHcfXYkIxBxjO/XeFe+uD6snwI95
Ita3bvQpDqsnwI+Zz761wXdtAG2JCMTkMqYTz25zAJ2J8GPkE/YtF7mO+bB6AvyY1xlTiFynfFg9
AX7MY4zZ6X0sQwPYmQR+zDzeT6vneTUBtCYi8I0gIgV4627hSetR9qBnN6M4MxZj15KFXqRjtzKQ
XyTsl6PBMkjyZIQU4Y0elnzsZlJliAxFHnsqiyKjQWQh9jojZbgMi+fU2A5GcbUKeiPa24Oz7BE5
KW3ygVyVLk3ByWWMTsNppUYbcTrZoy04kZzUNpxBrmoXThl5ZgzOE1Wmps9JUdBPjZ8nrZ7d5zQp
POO6AT3K7xm+nsOzpK9jtefXiV49N7Z29er2K09aQM8DTw/oWIt5Lu3V87nW+foQfn/z9QKen319
KPeLvl4IHgnow3hm9/Xh4DkBfQTP/r5uv4HlBvSR4IMCejF4XkAfxSfA10vA8wP6aPAhAX0MeEFA
x36L99Cr2xW/MKDb71jDAvo48OEB3X6tGxHQJ/BLnq/b73gjA3oZnytf/8p/ARBATJ142mVSXS8D
QRQ9M7uqaoVIQ0kjggjSSEgRjQdpSvpAUZT4SKxVX1la5QEPJPwNT36Y3+Af1JnbaUNkM3dmzpz7
ce5dKAAxTOEFKrj0bxCFSwT1Otq5KWg4RNoQQXvghw9IBcFNFfNBeHWBLI2PpbAShMhWa+Vz5Gnv
UaCnQ/8oOiSGK7ZNbEQsxDroRAIpZJDHB75VSX2qLx3XOWEo+hv+LK3C+i+sKEjzlmONJqqmjhRj
GjzN1Ws5JkYSIxjFJHVWLMO8JoShhfMqvBlmm0cVd6jZqk2GLH089GFYtFzTY19OF3JymbeHr0kc
8X6Ic9oTXMnbJe2eKD0mdkZuD28xiVyUqNNYZmc8xDHBcxJvRDfh4132Mlmau1HoYZu7jx3askV2
BSkJYrIUsEF2xFbuWJ0Z2/OYeDWm0kWuibzJ/hX5rbBOH6us8RZbEusRT3j+F+ugFUuhGwPsyRjG
WbvpbYoKTAfTmGMXF/74xrmGuCZalSj0Y9H+BwXRbOaw9surOaehVkaXeRoz0tLBkq3G8DUGyanY
6W1QxSlRj2pNx5t+jUyi7Qc/qT7wAA==) format('woff'), url('NotoSansCham-Regular.ttf')  format('truetype'), url('NotoSansCham-Regular.svg#NotoSansCham-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


