
@font-face {
  font-family: 'NotoSansSundanese';
  src: url('NotoSansSundanese.eot?#iefix') format('embedded-opentype'),  url('NotoSansSundanese.woff') format('woff'), url('NotoSansSundanese.ttf')  format('truetype'), url('NotoSansSundanese.svg#NotoSansSundanese') format('svg');
  font-weight: normal;
  font-style: normal;
}
